apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: chuzone
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  selector:
    app: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: chuzone
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: mahdihemdane/chuzone-frontend:1.0.0-RC1
        name: frontend
        ports:
        - containerPort: 80
